* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {


  .menu-item {
    @apply bg-white dark:bg-[#222222] w-full py-6 flex justify-center items-center rounded-md text-2xl md:text-3xl mt-4
  }
}