* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {


  .menu-item {
    @apply bg-white dark:bg-[#222222] w-full py-6 flex justify-center items-center rounded-md text-2xl md:text-3xl mt-4 lg:mt-0
  }


  .text-effect-down {
    position: relative;
    padding: 0;
    overflow: hidden;
    transition: transform .5s;
    display: block;
  }

  .text-effect-down::after {
    content: attr(data-after);
    display: inline-block;
    transform: translateY(100%);
    position: absolute;
    left: 0;
    transition: inherit;
    @apply text-yellowPrimary
  }

  .text-effect-down>span {
    display: inline-block;
    transform: translateY(0%);
    transition: inherit;
  }

  .text-menuItem:hover .text-effect-down>span {
    transform: translateY(-100%);
  }

  .text-menuItem:hover .text-effect-down::after {
    transform: translateY(0%);
  }


  .text-effect-up {
    position: relative;
    padding: 0;
    overflow: hidden;
    transition: transform .5s;
    display: block;
  }

  .text-effect-up::after {
    content: attr(data-after);
    display: inline-block;
    transform: translateY(-100%);
    position: absolute;
    left: 0;
    transition: inherit;
    @apply text-neutral-900 dark:text-whitePrimary
  }

  .text-effect-up>span {
    display: inline-block;
    transform: translateY(0%);
    transition: inherit;
  }

  .text-menuItem:hover .text-effect-up>span {
    transform: translateY(100%);
  }

  .text-menuItem:hover .text-effect-up::after {
    transform: translateY(0%);
  }



  .bg-pages {
    @apply bg-white dark:bg-[#222222]
  }


  .btn-aboutMe {
    @apply w-full rounded border-[1px] border-[#ddd] dark:border-[#333] text-[#888888] p-6 text-xl flex justify-center items-center duration-300 lg:hover:bg-yellowPrimary lg:hover:text-white
  }

  .tabs-aboutMe {
    @apply lg:absolute top-0 right-0 w-full rounded border-[1px] border-[#ddd] dark:border-[#333] lg:bg-white lg:dark:bg-[#222222] z-30 lg:min-h-[300px] duration-300
  }

  .tabs-title-aboutMe{
   @apply w-full bg-[#f2f2f2] dark:bg-[#151515]  border-b-[1px] border-[#ddd] dark:border-[#333] text-yellowPrimary p-6 text-xl flex justify-center items-center duration-300
  }


  .section-container{
    @apply bg-pages  lg:w-[65%] md:flex md:justify-between md:items-start md:flex-wrap p-4 lg:p-8 lg:overflow-y-scroll lg:relative
  }

  .portfolio-hover{
    @apply absolute p-4 bg-yellowPrimary top-0 left-0 w-full h-full flex justify-center items-center flex-wrap opacity-0 duration-300
  }
  .portfolio-item:hover .portfolio-hover{
    @apply opacity-100 
  }

  .rtl {
    direction: rtl;
  }

  .ltr {
    direction: ltr;
  }
}